<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link rel="stylesheet" href="style.css">
    <style type="text/css">
        <!-- inject-style src="dist/temp/hotfixes.css" -->
        @media (max-width: 480px) {
            <!-- inject-style src="dist/temp/only-screen-and-max-width-480px.css" -->
        }
        {# Google fonts imported here #}
    </style>
</head>

<body>
    <table id="body-table" align="center" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td valign="top" align="center">
                {% block content %} {% endblock %}
            </td>
        </tr>
    </table>
</body>

</html>
