{% extends "layout.html" %}
{% block content %}
<table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="background-color: #f1f1f1;padding: 1rem 3rem;" valign="top">
            <h1 style="width: 100%; display: inline-block;  text-align:center;font-family:arial, san-serif;margin-bottom: .25em; ">Email Templates</h1>
            <ul style="font-size:18px;font-family:arial, san-serif;">
                <li>
                    <a href="email-template-1.html">email-template-1.html</a>
                </li>
                <li>
                    <a href="email-template-2.html">email-template-2.html</a>
                </li>
                <li>
                    <a href="production/email-template-1-prod.html">email-template-1-prod.html</a>
                </li>
                <li>
                    <a href="production/email-template-2-prod.html">email-template-2-prod.html</a>
                </li>
            </ul>
        </td>
    </tr>
</table>
{% endblock %}